<!DOCTYPE html>

<html>

    <head>

    <title>LiquidTalent</title>

    </head>

    <body>

        <script type="text/javascript">
            window.location = 'itms-services://?action=download-manifest&url=https://dl.dropboxusercontent.com/s/sropb2txu5vgvne/LiquidTalent.plist';//'itms-services://?action=download-manifest&url=https://liquidtalent.com/ipa_downloader.plist';
        </script>

    </body>

</html>