<!DOCTYPE html>

<html>

    <head>

      <title>LiquidTalent</title>

    </head>

    <body>

        <script type="text/javascript">

            window.onload = function () {

                window.close();

            }

        </script>

    </body>

</html>