<!DOCTYPE html>

<html>

    <head>

    <title>LiquidTalent</title>

    </head>

    <body>

        <script type="text/javascript">
            window.location = 'itms-services://?action=download-manifest&url=https://liquidtalent.com/ipa_downloader';
        </script>

    </body>

</html>