<a href="/">
  <img src="<%= asset_path "new/main/logo-text.png" %>" alt="LiquidTalent header Logo with text" class="logo">
</a>

<div class="subheadline">
  LiquidTalent is the first high-end talent marketplace available on your mobile phone that places a premium on in-person connection. Our community-based, on-demand platform assigns short-term projects to exceptional and available talent.
</div>

<div class="video-container">
  <iframe class="marketplace-area" src="//player.vimeo.com/video/91860245?title=0&amp;byline=0&amp;portrait=0&amp;color=239061" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  <iframe class="enterprise-area" src="//player.vimeo.com/video/92747130?title=0&amp;byline=0&amp;portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>