<img src="<%= asset_path "new/main/logo-text.png" %>" alt="LiquidTalent header Logo with text" class="logo">

<div class="video-container">
  <iframe src="//player.vimeo.com/video/91855742?title=0&amp;byline=0&amp;portrait=0&amp;color=239061" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>

<div id="newsletter-sign-up">
  <div style="display: inline-block; text-align: center;">
    Sign up to LiquidTalent
  </div>
  <div style="display: inline-block; float: right;">
      <input type="text" id="register-form-email" class="field" value="Enter your email" onmousedown="javascript:if ($(this).prop('value') === 'Enter your email') { $(this).prop('value', ''); } else { $(this).prop('value', 'Enter your email'); }">
      <a href="javascript:SubmitRegisterForm()" id="register-form-send" class="green-button">Sign up</a>
  </div>
</div>