<img src="<%= asset_path "new/main/logo-text.png" %>" alt="LiquidTalent header Logo with text" class="logo">

<div class="video-container">
  <iframe src="//player.vimeo.com/video/91855742?title=0&amp;byline=0&amp;portrait=0&amp;color=239061" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>