<img src="<%= asset_path "new/main/logo-text.png" %>" alt="LiquidTalent header Logo with text" class="logo">

<div class="video-container">
  <div class="play-btn"></div>
  This is LiquidTalent.
</div>