<img src="<%= asset_path "new/main/logo-text.png" %>" alt="LiquidTalent header Logo with text" class="logo">

<div id="home-buttons">
  <a href="#" id="enterprise-button" class="active"><div class="icon"></div><span>Enterprise</span></a>
  <a href="#" id="marketplace-button"><div class="icon"></div><span>Marketplace</span></a>
  <div class="clear"></div>
</div>

<div class="video-container">
  <iframe class="marketplace-area" src="//player.vimeo.com/video/91860245?title=0&amp;byline=0&amp;portrait=0&amp;color=239061" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  <iframe class="enterprise-area" src="//player.vimeo.com/video/91855742?title=0&amp;byline=0&amp;portrait=0&amp;color=239061" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>

