<a href="/">
  <img src="<%= asset_path "new/main/logo-text.png" %>" alt="LiquidTalent header Logo with text" class="logo">
</a>

<div id="home-buttons">
  <div id="enterprise-button"<% if params[:show] == 'enterprise' %> class="active"<% end %>><div class="icon"></div><span>Enterprise</span></div>
  <div id="marketplace-button"<% unless params[:show] == 'enterprise' %> class="active"<% end %>><div class="icon"></div><span>Marketplace</span></div>
  <div class="clear"></div>
</div>

<div class="video-container">
  <iframe class="marketplace-area" src="//player.vimeo.com/video/91860245?title=0&amp;byline=0&amp;portrait=0&amp;color=239061" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  <iframe class="enterprise-area" src="//player.vimeo.com/video/92747130?title=0&amp;byline=0&amp;portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>

