<script type="text/javascript">
    $('#bank-form').submit(function (e) {
        e.preventDefault();

        $('#preloader').show();

        $('.alert').remove();

        $('#bank-form').find('button').prop('disabled', true);

        var payload = {
            name: $('.ba-name').val(),
            routing_number: $('.ba-routing').val(),
            account_number: $('.ba-number').val()
        };

        // Create credit card
        balanced.bankAccount.create(payload, handleResponse);
    });

    function handleResponse(response) {
        $('#preloader').hide();

        if (response.status_code === 201) {
            var fundingInstrument = response.cards != null ? response.cards[0] : response.bank_accounts[0];

            $('#bank-form').append($('<input type="hidden" name="balanced_token" id="balanced_token" />').val(fundingInstrument.href));

            acceptBooking();
            return false;
        } else {
            alert(response.errors[0]['description']);
            $('#bank-form').find('button').prop('disabled', false);
        }
    }
</script>

<div id="title">
  Accept Project
  <a class="black-button" href="#" onclick="loadPage('/projects');">Back</a>
</div>

<div id="hire">
  <div id="hire-title">Please accept this Project</div>

  <p>
    Once this project is completed, you will be notified and a transfer of $<span id="total-amount"></span> will be sent to your bank account.
  </p>

  <form method="post" id="bank-form">
    <input type="text" placeholder="Account Holder's Number *" class="text-field ba-name">
    <input type="text" placeholder="Routing Number *" class="text-field ba-routing">
    <input type="text" placeholder="Account Number *" class="text-field ba-number">

    <div class="clear"></div>

    <button type="submit" class="green-button signup-form-sp-button">Accept</button>
  </form>

  <form method="post" id="booking-form">
    <button onclick="acceptBooking();" class="green-button signup-form-sp-button">Accept</button>
  </form>
</div>