<script type="text/javascript">
    $('#cc-form').submit(function (e) {
        e.preventDefault();

        $('#preloader').show();

        $('.alert').remove();

        $('#cc-form').find('button').prop('disabled', true);

        var payload = {
            number: $('.cc-number').val(),
            expiration_month: $('.exp-month').val(),
            expiration_year: $('.exp-year').val(),
            cvv: $('.cvc').val()
        };

        // Create credit card
        balanced.card.create(payload, handleResponse);
    });

    function handleResponse(response) {
        $('#preloader').hide();

        if (response.status_code === 201) {
            var fundingInstrument = response.cards != null ? response.cards[0] : response.bank_accounts[0];

            $('#cc-form').append($('<input type="hidden" name="balanced_token" id="balanced_token" />').val(fundingInstrument.href));

            confirmBooking();
            return false;
        } else {
            alert(response.errors[0]['description']);
            $('#cc-form').find('button').prop('disabled', false);
        }
    }
</script>


<div id="title">
  Confirm Project
  <a class="black-button" href="#" onclick="loadPage('/hire');">Back</a>
</div>

<div id="hire" class="hire-confirm">
  <div id="hire-title">Please confirm this Project</div>

  <p>
    If accepted by the provider, you wil be notified and your card will be charged the total job amount of $<span id="total-amount"></span>. This payment is stored and is released to the service provider when you mark this job as completed.
  </p>

  <form method="post" id="cc-form">
    <input type="text" placeholder="CREDIT CARD NUMBER" class="text-field cc-number">
    <input type="text" placeholder="CVC NUMBER" class="text-field cvc">
    <input type="text" placeholder="MM/YYYY" class="text-field exp">

    <input type="hidden" placeholder="EXP MONTH" class="text-field exp-month">
    <input type="hidden" placeholder="EXP YEAR" class="text-field exp-year">

    <div class="clear"></div>

    <button type="submit" class="green-button signup-form-sp-button">Confirm</button>
  </form>

  <div id="booking-form">
    <a href="#" onclick="confirmBooking();" class="green-button signup-form-sp-button">Confirm</a>
  </div>
</div>