<div id="title">
  Hire
  <a class="black-button" href="javascript: loadPage('/' + back);">Back</a>
</div>

<div id="hire">
  <img src="" class="avatar" />
  <div id="hire-title"></div>

  <div id="hire-form">
    <input type="text" placeholder="Project Title *" class="text-field title">
    <input type="text" placeholder="Industry *" class="text-field category">
    <input type="text" placeholder="Total Project Amount * ($)" class="text-field budget">
    <input type="text" placeholder="Due Date *" class="text-field due-date">
    <input type="text" placeholder="Skills *" class="text-field skills">
    <input type="text" placeholder="Zip *" class="text-field zip">
    <div class="clear"></div>

    <textarea class="text-field description" placeholder="Scope of Work *"></textarea>

    <div class="clear"></div>

    <a href="javascript:submitBooking();" class="green-button signup-form-sp-button">Finish</a>
  </div>
</div>