<div id="title">
  Projects
  <a class="black-button" href="javascript: loadPage('/statuses');">Back</a>
</div>

<div id="projects">
  <div class="project" id="first-project">
    <img src="" width="120" class="avatar" />
    <div class="name-column">
      <div class="name"></div>
      <div class="due-date"></div>
    </div>

    <div class="description"></div>

    <div class="clear"></div>

    <div class="budget">
      <div class="budget-title">Budget:</div>
      <div>$<span class="total-amount"></span></div>
    </div>

    <a class="status-btn status message-btn"></a>

    <div class="status accept-decline">
      <a class="status-btn decline"></a>
      <a class="status-btn accept"></a>
    </div>

    <div class="status status-btn applicants"></div>

    <div class="status status-btn pending"></div>

    <a class="status status-btn complete"></a>

    <div class="status status-btn in-progress"></div>

    <div class="status completed-demander">
      <div>
        You paid $<span class="total-amount"></span> for this project.
      </div>
    </div>

    <div class="status completed-provider">
      <div>
        You earned $<span class="total-amount"></span> for this project.
      </div>
    </div>

    <div class="clear"></div>
  </div>
</div>