<div id="title">
  Projects
</div>

<div id="projects">
  <div class="project" id="first-project">
    <img src="" width="120" class="avatar" />
    <div class="name-column">
      <div class="name"></div>
      <div class="due-date"></div>
    </div>

    <div class="description"></div>

    <div class="clear"></div>

    <div class="budget">
      <div class="budget-title">Budget:</div>
      <div>$<span class="total-amount">7500</span></div>
    </div>

    <a class="status-btn"></a>
    <a class="message-btn"></a>

    <div class="clear"></div>
  </div>
</div>