<div id="title">
  Projects
</div>

<div id="rate">
    <div id="rate-left-column">
      <img src="" width="120" class="avatar" />

      <div class="budget">
        <div class="budget-title">Budget:</div>
        <div>$<span class="total-amount"></span></div>
      </div>
    </div>
    <div id="rate-right-column">
        <div class="rate-title">Rate <span class="name"></span>!</div>

        <div class="rate-stars">
          <a href="#" class="rate-star" id="star1" onclick="setRate(1);"></a>
          <a href="#" class="rate-star" id="star2" onclick="setRate(2);"></a>
          <a href="#" class="rate-star" id="star3" onclick="setRate(3);"></a>
          <a href="#" class="rate-star" id="star4" onclick="setRate(4);"></a>
          <a href="#" class="rate-star" id="star5" onclick="setRate(5);"></a>
          <div class="clear"></div>
        </div>

        <textarea id="review" placeholder="Reviewing is optional but recommended."></textarea>

        <a href="#" onclick="javascript:rateBooking(); return false;" class="green-button signup-form-sp-button">Rate</a>
    </div>

    <div class="clear"></div>
</div>