<div id="title">
  Projects
  <a class="black-button" href="javascript: window.location = '/';">Back</a>
</div>

<div id="hire">
  <div id="hire-form">
    <a class="status" href="javascript: bookingStatus = 'current'; loadPage('/projects');">Current</a>
    <a class="status" href="javascript: bookingStatus = 'pending'; loadPage('/projects');">Pending</a>
    <a class="status" href="javascript: bookingStatus = 'completed'; loadPage('/projects');">Completed</a>

    <a href="javascript: back = 'statuses'; providerId = null; loadPage('/create_project');" class="green-button signup-form-sp-button">Post</a>
  </div>
</div>