<div id="search-options" title="<%= listing %>">
  <div class="search-option" style="margin-left: 0px;">
    <input type="text" placeholder="Industry" class="text-field category" readonly="readonly" />
    <div class="option-container" id="industries" style="display: none;"></div>
  </div>

  <div class="search-option">
    <input type="text" class="text-field school" placeholder="College" onkeyup="searchSchool(this.value);" onclick="this.value='';">
    <div class="option-container" id="schools"></div>
  </div>

  <input type="text" placeholder="Keywords" class="text-field search-option search-field" onkeyup="setQuery(this.value);">

  <div class="search-option" id="sort-by">
    <div class="sort-by  default active">Sort by <img src="/assets/main/arrow-drop-down.png" id="sort-by-arrow" /></div>
    <div class="sort-by distance" title="distance"></div>
    <div class="sort-by experience" title="experience"></div>
    <div class="sort-by cost" title="cost"><img src="/assets/main/arrow-drop-down.png" id="sort-by-arrow" /></div>
  </div>

  <input type="hidden" name="" id="query">
  <input type="hidden" name="" id="category_id">
  <input type="hidden" name="" id="school_id">

</div>