<div id="title" class="title-faq" style="margin-bottom: 0;">
  FAQ
  <a class="black-button" href="#" onclick="loadPage('/settings');">Back</a>
</div>

<div id="faq">
  <h2>How does LT make money?</h2>
  <p>For every successful transaction, LiquidTalent takes a service fee of 5% of the total project amount.</p>

  <h2>Why are you using my location?</h2>
  <p>We believe location matters when facilitating professional connection. In some instances, the physical location of our users won’t add any benefit to executing a project; in others, it will matter very much. Having location as part of the discovery process opens up the real-world in a whole new digital way.</p>

  <h2>What’s the deal with the video? </h2>
  <p>If a picture is worth a thousand words, than a video is worth a million. Our short videos convey the who, the what and the why. Videos are authentic, add dimensionality, and highlight the individual in a profound way in a very short amount of time - 22 seconds to be precise.</p>

  <h2>Tell me more about the LiquidDrops? </h2>
  <p>LiquidDrops serve as symbols of experience and reliability. It’s a badge on a member’s profile. It helps inform project decisions and is a way for LiquidTalent to show appreciation. Drops are unlocked through earning or spending a certain dollar amount.</p>
  <ul>
    <li>Blue = $1,000</li>
    <li>Copper = $5,000</li>
    <li>Silver = $10,000</li>
    <li>Gold = $25,000</li>
  </ul>

  <h2>Why is a user’s hourly rate / cost shared later in the process? </h2>
  <p>We don’t want cost to overly complicate the process, and lead to professional misses (misses = the opposite of connection). Negotiation is part of the execution process and we’ve found that both parties generally come to an agreeable amount.</p>

  <h2>Why the name ‘LiquidTalent’? </h2>
  <p>We love the ring to it, don’t you? And it’s functional; it paints a picture of who we are and what we’re all about. Talent should flow freely, with no obstructions. And now it can.</p>

  <h2>What does Liquipendence mean? </h2>
  <p>Claiming your independence through maximizing the opportunities afforded by LiquidTalent. It’s all about self-sufficiency, flexibility and owning your most valuable asset - your time. </p>


  <h2>How does LT work in a legal framework? (NDA / Independent Contractor Agreement) </h2>
  <p>LiquidTalent provides standard legal agreements to facilitate the transaction process between parties wanting to work together on our platform. Our agreements were created by a licensed New York attorney and can be used at the sole discretion of the participants. We offer a confidentiality agreement and an independent contractor’s agreement featuring a scope of work that outlines the expectations of the project manager for the service provider. By clicking the Agree button, you agree to the terms and conditions of the agreement. All legal documents can be view on the LT app and website and are not obligatory.</p>

  <h2>Why are you using sign in with LinkedIn? </h2>
  <p>We want to make sure that LiquidTalent service providers are of high professional caliber. LinkedIn has become a valuable and trusted resource for professionals to share their information. Having a LinkedIn account provides an element of familiarity and trust. Also, much of the information on a LinkedIn profile is relevant to the LiquidTalent profile.</p>

  <h2>Can you tell us more about the B2B / enterprise model?</h2>
  <p>We offer project managers the opportunity to post open positions for which they require immediate hire. Any hirer upon creating an account can post a project for which service providers can apply. Post information about the position, the industry type, the project scope, and allow qualified service providers the opportunity to show why they are right for the task.</p>

  <h2>What are the different types of accounts you can have on LT?</h2>
  <p>There are two types of accounts currently available on LiquidTalent. A hirer account allows a member to search for talent within their area and message and hire service providers on demand. All account information will be securely stored on the LiquidTalent backend. Hirers may also post available positions that are open for hire. Each posting can be listed under industry type with specific details and scope of work for the project. Select service providers can then apply for the open positions and get hired as per standard procedure. The second account is a Service Provider account that allows an individual with a technical skill to create a profile, post a video and market his abilities on the app for the purposes of generating income-earning opportunities. You do not need to create an account to view the basic functions of the app, but to message, favorite, and hire individuals, you must create an account.</p>

  <h2>How does the payment process / Stripe work?</h2>
  <p>Upon a project being accepted, a hirer will be required to enter his credit card information at which time the card will be charged. The funds for the total project amount will be held in a LiquidTalent escrow account that shall not bear any interest. Once the project has been successfully completed and agreed upon by both parties, LiquidTalent shall release project funds, less any LiquidTalent service fees, to the Service Provider. The funds will hit the service provider’s bank account within 5-7 business days.</p>

  <h2>How do I change my account password?</h2>
  <p>Within the home screen, click on the Settings tab, and then click on Profile. You will be able to click the “change password” button that will allow you to enter and confirm a new password.</p>

  <h2>How is my personal data shared?</h2>
  <p>We will not share any third-party data that you enter on the site. All pictures, videos and content are the property of LiquidTalent and can be seen by anyone who has created an account for the app. LiquidTalent uses location data for the purposes of identifying hirers or work opportunities in members’ areas, but no information is shared with a third party, nor is location information used for the purposes of location-targeted advertising. All sensitive information such as messages ,profile, and bank information is stored on our secure, encrypted servers, and no credit card information is stored.</p>
</div>
