<div id="title">
  Favorites
  <a class="black-button" href="#">Edit</a>
</div>

<div id="content-preloader"></div>

<div id="list-items">
  <div class="list-item" id="first-item" style="display: none;">
    <div class="base">

      <img class="avatar" src="<%= asset_path 'main/avatar.png' %>" alt="LiquidTalent Professional's Avatar">
      <div class="play-button-favorite t"></div>
      <div class="message-button-favorite t" onclick="javascript:loadMessages('/messages');"></div>
      <div class="hire-button-favorite t"></div>

      <div class="title">
        <p class="name"></p>
      </div>

      <p class="description"></p>

      <div class="linkedin-icon"></div>

      <div class="distance"> 4km Away </div>

      <div class="lt-drop"></div>
      <div class="stars">
        <div class="star">
        </div><div class="star">
      </div><div class="star">
      </div><div class="star">
      </div><div class="star">
      </div>
      </div>

      <div class="removeFavorite" id="">Delete</div>
    </div>
  </div>

  <div id="providers"></div>
</div>