<div id="title">
  Favorites
  <a class="black-button" href="javascript:ToggleFavoriteDelete();">Edit</a>
</div>

<div id="content-preloader"></div>

<div id="list-items">
    <div class="list-item" id="first-item" style="display: none;">
      <img class="avatar" src="<%= asset_path 'new/main/avatar.png' %>" alt="Provider's Avatar">
      <div class="title">
        <p class="name">Name</p>
        City, State
      </div>
      <p class="description">Description</p>
      <div class="linkedin-icon"></div>
      <div class="lt-drop blue"></div>
      <div class="distance">$$$$$</div>
      <div class="stars">
      <div class="star">
        </div><div class="star">
        </div><div class="star">
        </div><div class="star">
        </div><div class="star">
        </div>
      </div>
      <div class="message"></div>
      <div class="hire"></div>
      <div class="removeFavorite" id="">Delete</div>
    </div>
  <div id="favorites"></div>
</div>