<div id="title">
  Forgotten Password
</div>

<div id="sign-in" class="pswd-container">

  <input type="email" placeholder="Email" class="text-field email">
  <a href="#" onclick="forgotten_password();" class="green-button login-button">Confirm</a>

</div>