<div id="title">
  Login
</div>

<img src="<%= asset_path 'new/main/logo-text.png' %>" alt="LiquidTalent login Logo with text" class="logo">

<div id="sign-in" class="login-container">

  <div class="title">Login</div>
  <input type="email" placeholder="Email" class="text-field email">
  <input type="password" placeholder="Password" class="text-field password">
  <a href="javascript:login()" class="green-button login-button">Login</a>

</div>
<div id="sign-up" class="login-container">

  <div class="title">Sign up</div>
  <a href="https://www.linkedin.com/uas/oauth2/authorization?response_type=code&client_id=77h2pt4b4liwxo&scope=r_basicprofile+r_fullprofile+r_emailaddress+r_contactinfo&state=0&redirect_uri=http://backend.liquidtalent.com:6789/linkedin" class="signup-button linkedin-sign-up"></a>
  <a href="javascript: loadPage('/signup');" class="signup-button sign-up"></a>

</div>