<div id="title">
  <a href="javascript: loadPage('/search');" class="geo-toggle green-button">List</a>
  Search
</div>

<%= render "user/filter", :listing => 'loadMap' %>

<div id="content-preloader"></div>

<div id="map"></div>
<div id="map-overlay">
    <div class="lt-drop"></div>
    <div class="title">
        <p class="name"></p>
    </div>
    <div class="linkedin-icon"></div><p class="description"></p>
    <div class="play"></div><div class="favorite"></div>
</div>