<div id="title" class="title-search">
  <div id="map-toggle-provider" onclick="mapToggle('provider');"></div>
  <div id="map-toggle-demander" onclick="mapToggle('demander');"></div>
  Search
  <span id="title-buttons">
      <a href="#" onclick="loadPage('/map');" class="geo-toggle green-button search-title-button">Map</a>
      <a href="#" onclick="loadPage('/search');" class="geo-toggle black-button search-title-button">List</a>
  </span>
</div>

<%= render "user/filter", :listing => 'loadMap' %>

<div id="content-preloader"></div>

<div id="map"></div>
<div id="map-overlay">
    <div class="lt-drop"></div>
    <div class="title">
        <p class="name"></p>
    </div>
    <div class="linkedin-icon"></div><p class="description"></p>
    <div class="play"></div><div class="favorite"></div>
</div>