<div id="title">
  Profile
</div>

<div id="content-preloader"></div>

<div class="list-item" id="first-item">
  <div class="base">

    <img class="avatar" src="<%= asset_path 'main/avatar.png' %>" alt="LiquidTalent Professional's Avatar">
    <div class="favorite-button t">
    </div><div class="play-button t"></div>

    <div class="title">
      <p class="name"></p>
    </div>

    <p class="description"></p>

    <div class="linkedin-icon"></div>

    <div class="distance"> 4km Away </div>

    <div class="lt-drop"></div>
    <div class="stars">
      <div class="star">
      </div><div class="star">
    </div><div class="star">
    </div><div class="star">
    </div><div class="star">
    </div>
    </div>
  </div>
</div>

<div id="profile-provider">
  <div class="profile-item">
    <div class="profile-item-title">Skills</div>
    <div id="profile-skills"></div>
  </div>

  <div class="profile-item">
    <div class="profile-item-title">Summary</div>
    <div id="profile-summary"></div>
  </div>

  <div class="profile-item">
    <div class="profile-item-title">Experience</div>
    <div id="profile-experience"></div>
  </div>

  <div class="profile-item">
    <div class="profile-item-title">Education</div>
    <div id="profile-education"></div>
  </div>
</div>