<div id="title">
  Reset Password
</div>

<div id="sign-in" class="pswd-container">
  <input type="hidden" name="user_id" id="user_id" value="<%= params[:user_id] %>" />
  <input type="hidden" name="pswd_hash" id="pswd_hash" value="<%= params[:pswd_hash] %>" />

  <input type="password" placeholder="New Password" class="text-field password">
  <input type="password" placeholder="Password Confirmation" class="text-field password_confirmation">
  <a href="#" onclick="reset_password();" class="green-button login-button">Confirm</a>

</div>