<div id="title" class="title-search">
  Search
  <span id="title-buttons">
      <a href="#" onclick="loadPage('/map');" class="geo-toggle black-button search-title-button">Map</a>
      <a href="#" onclick="loadPage('/search');" class="geo-toggle green-button search-title-button">List</a>
  </span>
</div>

<%= render "user/filter", :listing => 'listSearch' %>

<div id="content-preloader"></div>

<div id="list-items">

  <div class="list-item" id="first-item">
      <img class="avatar" src="<%= asset_path 'main/avatar.png' %>" alt="LiquidTalent Professional's Avatar">
      <div class="favorite"></div>
      <div class="play"></div>

      <div class="title">
        <p class="name"></p>
      </div>

      <p class="description"></p>

      <div class="linkedin-icon"></div>

      <div class="distance"></div>

      <div class="lt-drop"></div>
      <div class="stars">
        <div class="star">
        </div><div class="star">
      </div><div class="star">
      </div><div class="star">
      </div><div class="star"></div>
      </div>
  </div>

  <div id="providers"></div>

</div>