<div id="search-tool-bar">
  <div class="title">Search</div>
  <div class="functions">
    <a href="#" class="geo-toggle green-button">Map
    </a><a href="#" class="geo-toggle black-button">List
    </a>
    <div class="visibility-toggle t"></div>
  </div>
</div>

<div id="map"></div>