<div id="logo-header">
  <img src="<%= asset_path "main/logo-text.png" %>" alt="LiquidTalent header Logo with text" id="logo-login">
  <a href="javascript: loadPage('/signup');" class="black-button">Back</a>
</div>

<div id="sign-up-sp-form" class="login-container">
  <input type="hidden" name="user_id" id="user_id" value="<%= params[:user_id] %>"/>
  <input type="hidden" name="token" id="token" value="<%= params[:token] %>"/>

  <p>
    Address information will not be shared.
  </p>

  <div id="signup-address">
    <input type="text" placeholder="Street *" class="text-field street">
    <div>
      <input type="text" placeholder="City *" class="text-field cities city" style="width: 100%;">
      <div id="cities"></div>
    </div>

    <div>
      <input type="text" placeholder="State *" class="text-field state" style="width: 100%;">
      <div id="states"></div>
    </div>

    <input type="text" placeholder="Zip *" class="text-field zip" style="margin-right: 0;">
    <div class="clear"></div>
  </div>

  <div class="clear"></div>

  <p>
    Complete your profile. Profile videos can only be uploaded through the <a href="">app</a>.
  </p>

  <div id="signup-left">
    <input type="text" placeholder="Personal Tagline *" class="text-field desc">
    <input type="text" placeholder="Summary *" class="text-field summary">
  </div>

  <div id="signup-right">
    <div id="signup-skills">
      <input type="text" placeholder="Skills *" class="text-field skills">
      <div id="skills"></div>
    </div>
    <input type="text" placeholder="Hourly rate *" class="text-field hourly_rate" id="signup-hourly-rate">
    <input type="text" placeholder="Experience *" class="text-field experience">
    <input type="text" placeholder="Education *" class="text-field school" onkeyup="searchSchool(this.value);">
    <div id="schools"></div>

    <input type="hidden" name="category_id" id="category_id"/>
    <input type="hidden" name="city_id" id="city_id"/>
    <input type="hidden" name="school_id" id="school_id"/>
    <input type="hidden" name="state_id" id="state_id"/>
  </div>

  <div class="clear"></div>

  <a href="javascript:SubmitSignupSPForm()" class="green-button signup-form-sp-button">Finish</a>

</div>

<!--$(window).on('load', function () {-->
<!--$.ajax({-->
<!--url: 'http://backend.liquidtalent.com/get_info',-->
<!--error: function (error) {-->
<!--alert("Problem with connecting to the server");-->
<!--console.log(error);-->
<!--}-->
<!--}).done(function (data) {-->
<!--data['response']['cities'].forEach(function(item) {-->
<!--$('#cities').append('<div onclick="setCity(' + item['id'] + ', \'' + item['name'] + '\');">' + item['name'] + '</div>')-->
<!--})-->

<!--data['response']['categories'].forEach(function(item) {-->
<!--$('#skills').append('<div onclick="setSkills(' + item['id'] + ', \'' + item['name'] + '\');">' + item['name'] + '</div>')-->
<!--})-->
<!--});-->
<!--});-->

<!--$('.city').click(function() {-->
<!--$('#cities').show();-->
<!--});-->

<!--$('.skills').click(function() {-->
<!--$('#skills').show();-->
<!--});-->