<div id="logo-header">
  <img src="<%= asset_path "main/logo-text.png" %>" alt="LiquidTalent header Logo with text" id="logo-login">
  <a href="/" class="btn-back">Back</a>
</div>

<div id="sign-up-form" class="login-container">

  <div class="image-upload"></div>
  <div contenteditable="true" class="text-field name" id="signup-name">Name *</div>
  <div contenteditable="true" class="text-field email" id="signup-email">Email *</div>
  <div contenteditable="true" class="text-field password">Password *</div>
  <div contenteditable="true" class="text-field password_confirmation">Confirm Password *</div>
  <div id="signup-provider"><input type="checkbox" name="is_provider" /> Register as LiquidTalent Professional</div>
  <a href="javascript:SubmitSignupForm()" class="green-button signup-form-button">Continue</a>

</div>