<div id="logo-header">
  <img src="<%= asset_path "main/logo-text.png" %>" alt="LiquidTalent header Logo with text" id="logo-login">
  <a href="/signup" class="btn-back">Back</a>
</div>

<div id="sign-up-sp-form" class="login-container">
  <p>
    Address information will not be shared.
  </p>

  <div id="signup-address">
    <div contenteditable="true" class="text-field">Street *</div>
    <div contenteditable="true" class="text-field">City *</div>
    <div contenteditable="true" class="text-field">State *</div>
    <div contenteditable="true" class="text-field">Zip *</div>
    <div class="clear"></div>
  </div>

  <p>
    Complete your profile. Profile videos can only be uploaded through the <a href="">app</a>.
  </p>

  <div id="signup-left">
    <div contenteditable="true" class="text-field">Personal Tagline * *</div>
    <div contenteditable="true" class="text-field">Summary *</div>
  </div>

  <div id="signup-right">
    <div contenteditable="true" class="text-field" id="signup-skills">Skills *</div>
    <div contenteditable="true" class="text-field" id="signup-hourly-rate">Hourly rate *</div>
    <div contenteditable="true" class="text-field">Experience *</div>
    <div contenteditable="true" class="text-field">Education *</div>
  </div>

  <div class="clear"></div>

  <a href="#" class="green-button signup-form-sp-button">Finish</a>

</div>