<div id="title">
  Sign Up
  <a class="black-button" href="javascript: loadPage('/login');">Back</a>
</div>

<div id="demander-form" class="signup-demander">
  <div id="demander-form-right" class="signup">

    <a href="#" id="complete-linkedin"></a>

    <input type="text" placeholder="Company name" class="text-field company_name">
    <input type="text" placeholder="Company description" class="text-field company_description">
    <input type="text" placeholder="Title" class="text-field title">
    <input type="text" placeholder="Industry" class="text-field category">
    <div id="categories"></div>

    <input type="hidden" name="category_id" id="category_id"/>

    <a href="javascript:submitDemander(); return false;" class="green-button signup-form-sp-button">Complete Profile</a>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</div>
