<div id="title">
  Sign Up
  <a class="black-button" href="javascript: loadPage('/login');">Back</a>
</div>

<div id="demander-form" class="signup">
  <div id="demander-form-left" class="signup">
    <div id="image-upload"><input type="file" id="avatar" /></div>
    <div id="zip-info">
      <p>
        Zip Location allows you to be discovered on the map and get directions from your address to someone else.
      </p>

      <p>
        This information is never shared outside of LiquidTalent.
      </p>
    </div>
  </div>

  <div id="demander-form-right" class="signup">
    <input type="text" placeholder="First name" class="text-field first_name">
    <input type="text" placeholder="Last name" class="text-field last_name">
    <input type="text" placeholder="Email" class="text-field email">

    <input type="password" placeholder="Password" class="text-field password">
    <input type="password" placeholder="Confirm Password" class="text-field password_confirmation">

    <input type="text" placeholder="Zip" class="text-field zip">

    <a href="javascript:SubmitSignupForm('demander');" class="green-button demander">Looking to hire</a>
    <a href="javascript:SubmitSignupForm('provider');" class="green-button provider">Looking to work</a>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</div>
