<div id="logo-header">
  <img src="<%= asset_path "sign-up/logo-small.png" %>" alt="LiquidTalent header Logo with text" id="logo-login">
  <a href="javascript: loadPage('/login');" class="black-button">Back</a>
</div>

<div id="sign-up-form" class="login-container">

  <div class="image-upload"><input type="file" id="avatar"/></div>
  <input type="text" placeholder="Name *" class="text-field name">
  <input type="text" placeholder="Email *" class="text-field email">
  <input type="password" placeholder="Password *" class="text-field password">
  <input type="password" placeholder="Confirm Password *" class="text-field password_confirmation">
  <div id="signup-provider">
    <input type="checkbox" id="is_provider" name="is_provider"/> Register as LiquidTalent Professional
  </div>
  <a href="javascript:SubmitSignupForm()" class="green-button">Continue</a>

</div>