<div id="title">
  Edit Profile
  <a class="black-button" href="javascript: loadPage('/settings');">Back</a>
</div>

<div id="demander-form">
  <div id="demander-form-left">
    <div id="image-upload"><input type="file" id="avatar" /></div>
  </div>

  <div id="demander-form-right">
    <input type="text" placeholder="Full name" class="text-field name">
    <input type="text" placeholder="Email" class="text-field email">
    <input type="text" placeholder="Zip" class="text-field zip">

    <input type="text" placeholder="Company" class="text-field company_name">
    <input type="text" placeholder="Title" class="text-field title">
    <input type="text" placeholder="Industry" class="text-field category">
    <div id="categories"></div>

    <p>Leave the next fields blank if you do not want to change your password</p>

    <input type="password" placeholder="Password" class="text-field password">
    <input type="password" placeholder="Confirm Password" class="text-field password_confirmation">

  </div>
  <div class="clear"></div>

  <input type="hidden" name="category_id" id="category_id"/>

  <a href="javascript:updateDemander(); return false;" class="green-button signup-form-sp-button">Update Profile</a>
</div>
