<div id="title">
  Profile
  <a class="black-button" href="#">Back</a>
</div>

<div id="content-preloader"></div>

<div id="sign-up-form" class="login-container">

  <div class="image-upload"><input type="file" id="video"/></div>
  <a href="#" onclick="uploadVideo()" class="green-button">Submit</a>

</div>