/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* reset */

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: none; }

input, textarea, div[contentEditable="true"] { outline: none; }
div[contentEditable="true"], div[contentEditable="true"] div, div[contentEditable="true"] p {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
div[contentEditable="true"] br { display: none !important; }
div[contentEditable="true"] div, div[contentEditable="true"] p { display: inline; }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a { cursor: pointer; }

/* general */

body {
    line-height: 1;
    background-color: white;
    color: #111111;
    font-family: 'nexa', Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 14px;
    min-width: 660px;
}

#header {
    background: url(../images/presentation/bg.jpg) fixed 0px 50% no-repeat;
    padding-bottom: 10px;
}

h1 {
    line-height: 162px;
    font-weight: 900;
    text-align: center;
    font-size: 40px;
    color: #fff;
    letter-spacing: 5px;
    height: 162px;
    background: url(../images/presentation/title-bg.jpg);
    min-width: 640px;
    border-top: 5px solid #000;
    border-bottom: 5px solid #000;
    margin-bottom: 40px;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

@font-face {
    font-family: 'nexa';
    font-weight: 100;
    src: url("font/nexalight.ttf");
}
@font-face {
    font-family: 'nexa';
    font-weight: 900;
    src: url("font/nexabold.ttf");
}

.container {
    margin: auto;
    max-width: 960px;
    min-width: 640px;
    width: 100%;
    margin-bottom: 50px;
}

#header .logo {
    display: block;
    width: 90%;
    max-width: 881px;
    margin: auto;
    border-top: 25px solid transparent;
}

#header .video-container {
    width: 640px;
    margin: auto auto 50px auto;
    background: url(../images/presentation/video-bg.png);
    height: 360px;
    border: 2px solid #000;
}

#header .video-container .play-btn {
    width: 95px;
    background: url(../images/presentation/play-btn.png) no-repeat 0px center;
    margin: auto;
    height: 100%;
    cursor: pointer;
}

#register-form {
    height: 80px;
    background: url(../images/presentation/title-bg.jpg) repeat-x;
    width: 100%;
    min-width: 640px;
    font-weight: 100;
    text-align: center;
    border-top: 5px solid #000;
    border-bottom: 5px solid #000;
    margin-bottom: 40px;
}
#register-form .field {
    background-color: #fff;
    padding: 0px 16px;
    width: 139px;
    line-height: 40px;
    height: 37px;
    font-size: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.2);
    margin: 16px 8px 0px 8px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}
.field#register-form-send {
    font-style: italic;
    font-weight: 100;
    text-align: center;
}
.field#register-form-send:hover, .field#register-form-send:focus {
    color: #FFF;
    background-color: #000;
    box-shadow: none;
}
#privacy {
    opacity: 0;
    display: none;
}

#about, #press, #contact {
    opacity: 1;
    display: block;
}

.app-btn-container {
    width: 433px;
    margin: auto;
    margin-top: 50px;
}
.app-btn-container .iphone-app,
.app-btn-container .android-app {
    display: inline-block;
    width: 206px;
    height: 72px;
    background-repeat: no-repeat;
    background-image: url(../images/presentation/buttons-store.png);
    cursor: pointer;
}
.app-btn-container .iphone-app { background-position: 0px 0px; }
.app-btn-container .android-app {
    background-position: -208px 0px;
    margin-left: 16px;
}
.app-btn-container .iphone-app:hover { background-position: 0px -72px; }
.app-btn-container .android-app:hover { background-position: -208px -72px; }

.navigation p {
    text-align: center;
    font-size: 24px;
    line-height: 87px;
}
.navigation p a { margin: 0px 13px 0px 13px; }
.navigation p a:hover { color: #2abd43; }
a#privacy-toggle.navigation-link {
    display: block;
    color: #2abd43;
    font-size: 16px;
    text-decoration: underline;
    line-height: 1.5;
    display: block;
    text-align: center;
}
a#privacy-toggle.navigation-link:hover, a#privacy-toggle.navigation-link:focus { color: #000; }

.social {
    width: 320px;
    margin: auto;
    height: 80px;
    margin-top: 39px;
}
.social .social-btn {
    cursor: pointer;
    width: 41px;
    height: 41px;
    margin: 0px 4px 0px 4px;
    background-image: url(../images/presentation/icons-social-color.png);
    background-repeat: no-repeat;
    display: inline-block;
}
.social .in { background-position: 0px 0px; }
.social .in:hover, .social .in:focus { background-position: 0px -41px; }
.social .tw { background-position: -41px 0px; }
.social .tw:hover, .social .tw:focus { background-position: -41px -41px; }
.social .fb { background-position: -82px 0px; }
.social .fb:hover, .social .fb:focus { background-position: -82px -41px; }
.social .gl { background-position: -123px 0px; }
.social .gl:hover, .social .gl:focus { background-position: -123px -41px; }
.social .insta { background-position: -164px 0px; }
.social .insta:hover, .social .insta:focus { background-position: -164px -41px; }
.social .mthing { background-position: -205px 0px; }
.social .mthing:hover, .social .mthing:focus { background-position: -205px -41px; }

/* about */
.clear {
    height: 1px;
    clear: both;
}

h3 {
    font-size: 30px;
    line-height: 36px;
    margin: 20px;
}

.description h2,
.description p {
    line-height: 30px;
    font-size: 16px;
    margin: 20px;
}

.description p a {
    color: #2abd43;
    text-decoration: underline;
}
.description p a:hover, .description p a:focus { color: #000000; }
.description h2 { font-weight: 900; }
.header { margin: 30px 10px 30px 10px; }
.header-image,
.header-text { float: left; }

.header-icon {
    float: right;
    width: 320px;
}

.header-image {
    width: 119px;
    height: 126px;
    background-image: url(../images/presentation/avatars-about.png);
    background-repeat: no-repeat;
}

.logo-image { background-position: -3px 0px; }
.scott-image { background-position: -241px 0px; }
.alex-image { background-position: -122px 0px; }
.header-text { width: 200px; }

.header-text .text-title {
    font-size: 30px;
    margin: 35px 0px 10px 10px;
}

.header-text .text-tagline {
    font-size: 13px;
    margin: 10px 0px 0px 10px;
    color: #2abd43;
}

.only-two { width: 120px; }

.left-col {
    width: 250px;
    margin-left: 20px;
    float: left;
}

.right-col { margin-left: 270px; }

#contact-form {
    width: 280px;
    margin: auto;
    margin-top: 50px;
}
#contact-form .field {
    border: 1px solid #666666;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    width: 100%;
    max-width: 280px;
    margin-bottom: 10px;
    padding-left: 10px;
}
#contact-form textarea.field { height: 100px; }
#contact-form .contact {
    display: block;
    width: 140px;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    font-style: italic;
    color: white;
    font-size: 16px;
    background: url(../images/presentation/title-bg.jpg) repeat-y;
    background-size: 100% 100%;
    cursor: pointer;
    text-align: center;
}

@media (max-width: 660px) {



}