<!DOCTYPE html>

<html>

<head>

  <title>LiquidTalent</title>

  <base href="../website/">
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width">

  <%

     view_signup = ['login', 'signup', 'signup_service_provider'].include?(params[:action])

  %>

  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>

<body>

<div id="wrapper">
  <div id="background" <% if view_signup === true %> style="top: 0%;right:0%;width: 100%;height: 100%; overflow: scroll;" <% end %>>
    <%= yield %>
  </div>
  <div id="admin-panel" <% if view_signup === true %> style="display: none;" <% end %>>
    <div class="header">
      <a class="login green-button" href="/login">Login</a>
    </div>
    <div class="navigation">
      <a class="search link t" href="/search"></a>
      <a class="projects link t" href="/projects"></a>
      <a class="messages link t" href="/messages"></a>
      <a class="favorites link t" href="/favorites"></a>
      <a class="stats link t" href="/stats"></a>
      <a class="lti link t" href="/liquidtalentinc"></a>
    </div>
  </div>
</div>

</body>

</html>